body {
    background: #27374D;
    font-family: 'Barlow', sans-serif;
}

span {
    margin: 1em;
    font-size: 2em;
    color: #fff;
    text-align: center;
}


.title{
  font-size: 3rem;
  text-align: center;
  margin: 2rem 3rem;;
  color: #fff;
}

.text{
  font-size: 1.2rem;
  margin: 0 3rem;
  color: #fff;
}

.calculadora{
    display: flex;
    margin: 2em;
    flex-direction: row;
    width: 50%;
}

.valores{
    margin: 1em;
    padding: 1em;
}


.btn41-43 {
    padding: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-42 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
    margin: 2em;
  }
  
  .btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-42:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-42:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn-42:active {
    top: 2px;
  }

  @media screen and (max-width: 720px) {
    .calculadora{
      flex-direction: column;
      width: 83%;
  }
  }
